/* 改变主题色变量 */
$--color-primary: #3c5b92;
$--color-success: #098d78;
$--color-danger: #cf2727;
$--color-warning: #f0b734;
// $--color-info: #f0b734;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";