$headerHeight: 50px;
$navbarWidth: 280px;
.rows-flex {
  //width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.rows {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
.fn-rel{
  position: relative;
}
.float_left {
  float: left;
}
.rows-item {
  display: flex;
}
.text-right{
  text-align: right;
}
.pl-10{
  padding-left: 10px;
}
.pl-5{
  padding-left: 5px;
}
.pr-10{
  padding-right: 10px;
}
.font-14 {
  font-size: 14px;
}
.g-ellipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.required_box:before{
  content: '*';
  color: #f56c6c;
  margin-right: 4px;
}
.maginRight-10 {
  margin-right: 10px;
}